"atom-text-editor[data-grammar~='latex']":
  "ctrl-alt-e": "latex-text-decoration:emph",
  "ctrl-alt-b": "latex-text-decoration:textbf",
  "ctrl-alt-t": "latex-text-decoration:texttt"
  "ctrl-alt-i": "latex-text-decoration:textit"
  "ctrl-alt-l": "latex-text-decoration:textsl"
  "ctrl-alt-s": "latex-text-decoration:textsf"
  "ctrl-alt-c": "latex-text-decoration:textsc"
